<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Project manager</title>

    <!-- Bootstrap -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="{% url 'inicio:menu' %}">Project Manager</a>
    </div>



    <div class="pull-right">
      <ul class="nav navbar-nav">
        <li><a href="{% url 'inicio:salir' %}">Logout</a></li>
      </ul>
    </div>
  </div>
</nav>





 <div class="row">
    <div class="col-sm-2">

  <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">

  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingOne">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          Usuario
        </a>
      </h4>
    </div>
    <div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
      <!-- <div class="panel-body">
        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
      </div> -->
      <div class="list-group">
        <li><a href="{% url 'usuario:crear_usuario' %}" class="list-group-item">Crear usuario</a></li>
        <li><a href="{% url 'usuario:listar_usuarios' %}" class="list-group-item">Listar usuarios</a></li>
      </div>


    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingTwo">
      <h4 class="panel-title">
        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
          Perfil
        </a>
      </h4>
    </div>
    <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
      <div class="list-group">
        <li><a href="{% url 'perfil:crear_perfil' %}" class="list-group-item">Crear perfil</a></li>
        <li><a href="{% url 'perfil:listar_perfiles' %}" class="list-group-item">Listar perfiles</a></li>
      </div>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingThree">
      <h4 class="panel-title">
        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
          Proyecto
        </a>
      </h4>
    </div>
    <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
      <div class="list-group">
        <li><a href="{% url 'proyecto:crear_proyecto' %}" class="list-group-item">Crear proyecto</a></li>
        <li><a href="{% url 'proyecto:listar_proyectos' %}" class="list-group-item">Listar proyectos</a></li>
      </div>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingThree">
      <h4 class="panel-title">
        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#cuatro" aria-expanded="false" aria-controls="cuatro">
          Flujo
        </a>
      </h4>
    </div>
    <div id="cuatro" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingThree">
      <div class="list-group">
        <li><a href="{% url 'flujo:crear_flujo' %}" class="list-group-item active">Crear flujo</a></li>
        <li><a href="{% url 'flujo:listar_flujos' %}" class="list-group-item">Listar flujos</a></li>
        <li><a href="{% url 'flujo:crear_actividad' %}" class="list-group-item">Crear actividad</a></li>
        <li><a href="{% url 'flujo:listar_actividades' %}" class="list-group-item">Listar actividades</a></li>
      </div>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingThree">
      <h4 class="panel-title">
        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#cinco" aria-expanded="false" aria-controls="cinco">
          Sprint
        </a>
      </h4>
    </div>
    <div id="cinco" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
      <div class="list-group">
        <li><a href="{% url 'sprint:crear_sprint' %}" class="list-group-item">Crear sprint</a></li>
        <li><a href="{% url 'sprint:listar_sprints' %}" class="list-group-item">Listar sprints</a></li>
      </div>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingThree">
      <h4 class="panel-title">
        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#seis" aria-expanded="false" aria-controls="seis">
          User Story
        </a>
      </h4>
    </div>
    <div id="seis" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
      <div class="list-group">
        <li><a href="{% url 'userstory:crear_userstory' %}" class="list-group-item">Crear user story</a></li>
        <li><a href="{% url 'userstory:listar_userstories' %}" class="list-group-item">Listar user stories</a></li>
      </div>
    </div>
  </div>



</div>
    


</div>



<div class="col-sm-10">
  <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-7">
      <h3 align="center"> Crear flujo </h3></br> 

      <form action="{% url 'flujo:crear_flujo' %}" method="post">
        {% csrf_token %}
        {% load bootstrap %}
        {{ form|bootstrap }}

        <input class="btn btn-primary" type='submit' value='Crear flujo' />
      </form>
    </div>
    <div class="col-md-3"></div>
  </div>


	  
</div>



  </div>



    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
  </body>
</html>



