<style>
body {
    	background-color: #CCFFFF;
	}
</style>

<table style="width:100%">
  <tr>
    <td><h2></h2></td>
    <td align="right"><a href="{% url 'inicio:salir' %}"> Logout </a></td>
  </tr>
</table> 

<h2 align="center"> Flujo: {{ flujo.nombre }} </h2>
 <table border=1 style="background-color: #f1f1c1; width:100%">
	

	<tr align="center">
		{% for actividad in lista_actividades %}
			<td colspan="3">{{ actividad.nombre }}</td>
		{% endfor %}
	</tr>

	<tr align="center">
		{% for actividad in lista_actividades %}
			<td>To do</td>
			<td>Doing</td>
			<td>Done</td>
		{% endfor %}
	</tr>

	{% for userstory in flujo.userstory_set.all %}
		<tr align="center">
			{% for actividad in lista_actividades %}
				{% if userstory.actividad == actividad %}
					{% if userstory.estado == "Todo" %}
						<td>
							<a href="{% url 'userstory:modificar_en_flujo' userstory.id %}"> {{userstory.nombre}} </a>
						</td>
						<td></td>
						<td></td>
					{% elif userstory.estado == "Doing" %}
						<td></td>
						<td>
							<a href="{% url 'userstory:modificar_en_flujo' userstory.id %}"> {{userstory.nombre}} </a>
						</td>
						<td></td>
					{% else %}
						<td></td>
						<td></td>
						<td>
							<a href="{% url 'userstory:modificar_en_flujo' userstory.id %}"> {{userstory.nombre}} </a>
						</td>
					{% endif %}
				{% else %}
					<td></td>
					<td></td>
					<td></td>
				{% endif %}
			{% endfor %}
		<tr>
	{% endfor %}



</table> 





</br></br></br></br></br></br>
<li>
	<a href="{% url 'flujo:listar_flujos' %}"> Listar flujos </a>
</li>
